* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// color variables
$primary-color: #25d366;
$secondary-color: #fcf5eb;
$gray-color: #777777;
$pure-black: #000000;
a {
    color: inherit;
    text-decoration: inherit;
}
img {
    width: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
}
header {
    display: flex;
    padding: 20px 10%;
    width: 100%;
    justify-content: space-between;
    background-color: $secondary-color;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    .logo {
        font-weight: 900;
    }
    .desktop-links {
        ul {
            list-style: none;
            display: flex;
            column-gap: 30px;
            li a {
                font-weight: 500;
                color: $gray-color;
            }
            li a.active {
                color: $pure-black;
                font-weight: 800;
                text-decoration: underline;
            }
        }
    }
}
#hero {
    background-color: $secondary-color;
    min-height: 100vh;
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    padding: 50px 10%;
    align-items: center;
    .text-area {
        p {
            font-size: 13px;
        }
        h1 {
            font-size: 50px;
            font-weight: 900;
            color: $primary-color;
        }
        h3 {
            font-weight: 400;
            font-size: 24px;
            margin: 25px 0 50px 0;
            color: $gray-color;
        }
        .button-container {
            a {
                background-color: $primary-color;
                padding: 15px 50px;
                border-radius: 50px;
                border: 1px solid $pure-black;
            }
        }
    }
    .image-area {
        img {
            width: 50%;
            display: block;
            margin: 0 auto;
        }
    }
}

#aboutUs {
    margin: 100px 10%;
    h1.title {
        color: $primary-color;
        padding: 0 50px 5px 0;
        border-bottom: 5px solid $primary-color;
        display: inline-block;
        font-size: 32px;
    }
    .main-about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin: 50px 0 0 0;
        .image-area {
            img {
                width: 70%;
                display: block;
                margin: 0 auto;
            }
        }
        .text-area {
            p {
                font-size: 20px;
            }
        }
    }
}
#reviews {
    margin: 50px 10%;
    .swiper-controls {
        display: flex;
        gap: 10px;
        margin: 10px;
        span {
            padding: 0px;
            border: 1px solid $primary-color;
            border-radius: 100px;
            font-size: 24px;
            color: $primary-color;
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
        border-top: 5px solid $primary-color;
    }

    .swiper-slide {
        background: #fff;
        h1 {
            border-bottom: 3px solid $primary-color;
            padding: 25px 20px;
            font-size: 20px;
        }
        p {
            padding: 25px 20px;
            font-size: 24px;
            color: $gray-color;
        }
    }
}

#courseStructure {
    margin: 100px 10%;
    .title {
        color: $primary-color;
        padding: 0 50px 5px 0;
        border-bottom: 5px solid $primary-color;
        display: inline-block;
        font-size: 32px;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 50px auto;
        row-gap: 20px;
        max-width: 768px;
        .card.imager {
            position: relative;
            img {
                width: 50%;
                height: 50%;
                display: block;
                position: absolute;
                bottom: -20px;
            }
        }
        .card.imagel {
            position: relative;
            img {
                width: 50%;
                height: 50%;
                display: block;
                position: absolute;
                right: 0;
                bottom: -20px;
            }
        }
        .card.text {
            display: flex;
            background-color: $secondary-color;
            border: 1px solid $primary-color;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            min-height: 200px;
            h2 {
                text-align: center;
                display: flex;
                align-items: center;
                column-gap: 20px;
            }
        }
    }
}

#instructors {
    padding: 50px 10%;
    background-color: $secondary-color;
    .title {
        color: $primary-color;
        padding: 0 50px 5px 0;
        border-bottom: 5px solid $primary-color;
        display: inline-block;
        font-size: 32px;
    }
    .cards {
        margin: 50px 0;
        .card {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            border-bottom: 2px solid $primary-color;
            padding: 20px 0;
            .basic {
                h1 {
                    font-size: 18px;
                }
                h3 {
                    font-size: 14px;
                    color: $gray-color;
                    font-weight: 500;
                    span {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

#register {
    margin: 100px 10%;
    .title {
        color: $primary-color;
        padding: 0 50px 5px 0;
        border-bottom: 5px solid $primary-color;
        display: inline-block;
        font-size: 32px;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 768px;
        margin: 50px auto;
        gap: 20px;
        .card.imager {
            position: relative;
            img {
                width: 50%;
                position: absolute;
                bottom: 0px;
                left: 0px;
                height: 50%;
            }
        }
        .card.imagel {
            position: relative;
            img {
                width: 50%;
                position: absolute;
                bottom: 0px;
                right: 0px;
                height: 50%;
            }
        }
        .card.text {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 200px;
            gap: 20px;
            border-radius: 10px;
            border: 1px solid $primary-color;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            .text {
                h1 {
                    font-size: 16px;
                }
                p {
                    font-size: 13px;
                }
            }
            img {
                width: 50px;
                padding: 10px;
                border: 2px dashed $primary-color;
                border-radius: 100%;
            }
        }
    }
}
#FAQ {
    margin: 100px 10%;
    .title {
        color: $primary-color;
        padding: 0 50px 5px 0;
        border-bottom: 5px solid $primary-color;
        display: inline-block;
        font-size: 32px;
    }
    .cards {
        margin: 50px 0 0 0;
        .card {
            border-bottom: 2px solid $primary-color;
            padding: 20px 0;

            h2 {
                font-size: 16px;
            }
            p {
                margin: 10px 0;
                font-size: 13px;
            }
        }
    }
}
footer {
    background-color: $secondary-color;
    .top {
        padding: 20px 10%;
        border-bottom: 1px solid $primary-color;
    }
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 50px 10%;
        h6 {
            font-weight: bold;
            font-size: 16px;
        }
        .links {
            ul {
                margin: 20px 0;
                list-style: none;
                li {
                    margin: 5px 5px;
                    font-size: 13px;
                }
            }
        }
    }
    .bottom {
        text-align: center;
        padding: 20px 10%;
        border-top: 1px solid $primary-color;
    }
}
